name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Setup pnpm
        run: |
          corepack enable
          corepack prepare pnpm@8.11.0 --activate
      - name: Install
        run: pnpm -w install
      - name: Lint
        run: pnpm -w -r lint
      - name: Test
        run: pnpm -w -r test
      - name: Build
        run: pnpm -w -r build
